# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.pytest_cache/
*.egg-info/
.mypy_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
.claude/

# App
settings.json
*.csv
*.xlsx
dist/
build/
*.spec

# OS
.DS_Store
Thumbs.db

#DIST
dist/
build/
*.exe
